* {
    
    box-sizing: border-box;
    
}

html {
    overflow-x: hidden;
}

/* header */
body {
    font-family: 'Roboto', serif;
    background-color: rgb(6, 8, 20);
}

.logo {
    position: absolute;
    margin: 20px 0 0 20px;
}

.logo img {
    width: 150px;
    background-color: rgba(161, 161, 161, 0.74);
    border-radius: 3px;
}

.burger {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    z-index: 10001;
  }
  
.burger span {
    display: block;
    background: rgb(207, 64, 64);
    width: 100%;
    height: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    transition: all  1.4s;
  }

.burger .s1Rotate {
    transform: translateY(10px) rotate(45deg);
}

.burger .s2Vanish {
    opacity: 0;
}

.burger .s3Rotate {
    transform: translateY(-10px) rotate(-45deg);
}

nav {
    position: fixed;
    margin: auto;
    width: 100%;
    height: 60%;
    background: rgba(0, 0, 0, 0.9);
    transition: transform  1.4s;
    z-index: 1000;
    transform: translateX(0);
    right: -100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.navResp {
    transform: translatex(-100%) ;
}



nav li {
    list-style: none;
    cursor: pointer;
}

nav a {
      padding: 10px;
      text-decoration: none;
      color: white;
  }


  header {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: rgb(6, 8, 20);
    z-index: 1;
}

.linha-div {
    position: absolute;
    top: 140px;
    right: 40%;
    border-radius: 5px;
    background-color: white;
    height: 2px;
    width: 20%;
    transform: scalex(4);
    transition: all 2s;
}

.socials {
    position: absolute;
    margin: auto;
    top: 160px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    right: 20%;
}

.socials li {
    list-style: none;
    cursor: pointer;
}

.socials i {
    color: white;
    transition: all 0.4s;
}

.socials i:hover {
    color: rgb(207, 64, 64);
}

.container {
    position: absolute;
    left: 30px;
    top: 45%;
    color: white;
}

#email {
    margin-top: 10px;
    margin-bottom: 30px;
}

#telefone {
    margin-top: 10px;
    margin-bottom: 30px;
}

h1 {
    font-size: 30px;
margin-bottom: 30px;
}

  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .burger {
        display: none;
    }

    .logo {
        margin: 70px;
    }

    .logo img {
        width: 250px;
    }

    nav {
        position: absolute;
        margin-top: 0px;
        z-index: 1;
        font-weight: bold;
        width: 100%;
        height: 70px;
        right: 0px;
        border-radius: 3px;
        flex-direction: row;
        justify-content: space-around;
        background-color: rgba(161, 161, 161, 0.74);
        transform: translateX(0%);
    }

    nav a {
        color: red;
    }

    .container h1 {
        font-size: 50px;
        margin: 40px;
    }
        
    .socials {
        position: absolute;
        margin: auto;
        top: 280px;
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        right: 35%;
    }
  } 
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .burger {
        display: none;
    }

    .logo {
        margin: 50px;
    }

    .logo img {
        width: 250px;
    }

    nav {
        position: absolute;
        margin-top: 0px;
        z-index: 1;
        font-weight: bold;
        width: unset;
        float: right;
        height: 70px;
        right: 0px;
        border-radius: 3px;
        padding: 5px;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgba(161, 161, 161, 0.74);
        transform: translateX(0%);
    }

    nav li {
        padding:3px;
        border-radius: 6px;
        transition: background-color .2s;
        overflow: visible;
    }
    nav li:hover {
        background-color: rgba(216, 47, 47, 0.24);
    }

    .socials {
        position: absolute;
        margin: auto;
        top: 280px;
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        right: 35%;
        }

        .linha-div {top: 250px;}
  } 

  @media only screen and (min-width: 960px) {
      
nav {
    justify-content: space-around;
}


nav li {
    padding: 20px;
}
  }