* {
    
    box-sizing: border-box;
    
}

html {
    overflow-x: hidden;
}

/* header */
body {
    font-family: 'Roboto', serif;
    background-color: rgb(6, 8, 20);
}

.logo {
    position: absolute;
    margin: 20px 0 0 20px;
    
    
    
    
    
    
}

.logo img {
    background-color: rgba(161, 161, 161, 0.74);
        
      width: 150px;
    
}

.burger {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    z-index: 10001;
  }

 
  
.burger span {
    display: block;
    background: rgb(207, 64, 64);
    width: 100%;
    height: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    transition: all  1.4s;
  }

.burger .s1Rotate {
    transform: translateY(10px) rotate(45deg);
    
    
}

.burger .s2Vanish {
    opacity: 0;
}

.burger .s3Rotate {
    transform: translateY(-10px) rotate(-45deg);
}

nav {
    position: fixed;
    
    margin: auto;
    
    width: 100%;
    height: 60%;
    background: rgba(0, 0, 0, 0.9);
    transition: transform  1.4s;
    z-index: 1000;
    transform: translateX(0);
    right: -100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.navResp {
    
    
    transform: translatex(-100%) ;
    
}



nav li {
    list-style: none;
    cursor: pointer;

}



nav a {
      padding: 10px;
      
    
      
      text-decoration: none;
      color: white;
  }


  header {
    position: relative;
    height: 100vh;
    
    background-color: rgb(6, 8, 20);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    z-index: 1;
}



.linha-div {
    position: absolute;
    top: 140px;
    right: 40%;
    border-radius: 5px;
    background-color: white;
    height: 2px;
    width: 20%;
    transform: scalex(4);
    transition: all 2s;
    

}

.socials {
    position: absolute;
    margin: auto;
    top: 160px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    right: 20%;

}

.socials li {
    list-style: none;
    cursor: pointer;
    
}

.socials i {
    color: white;
    transition: all 0.4s;
}

.socials i:hover {
    color: rgb(207, 64, 64);
}

h1 {
    position: absolute;
    color: white;
    font-size: 40px;
    left: 10%;
    top: 186px;
}

h2  {
    font-size: 20px;
    color: white;
}

.latestest-news p {
color: white;
margin-top: 8px;
margin-bottom: 20px;
}

.container {
    position: absolute;
    top: 37%;
    padding: 10px;
}
 

/* events */
.events-div {
    position: absolute;
    top: 37%;
    padding: 10px;
    margin-top: 30px;
    width: 100%;
    text-align: center;
    

}

.concertos-container {
    margin-top:30px;
    
}

.eventDesc, .eventInfo {
display: flex;
flex-direction: row;

align-items: center;
border: 1px grey solid;
padding: 5px;
height: 50px;

}

.eventDesc .event-date{
    position: absolute;
    left: 0px;

}
.eventDesc .arrow{
    position: absolute;
    right: 0;

}

.eventDesc .event-city{
    position: absolute;
    right: 20px;

}

.eventDesc .event-local{
    position: absolute;
    left: 90px;

}



.fa-chevron-down {
    transition: transform 0.4s;
}
.fa-chevron-down.active {
    transform: rotate(180deg);
    
    
}

.concertos-container li {
    padding: 20px 20px;
    list-style: none;
    color: white;

    
}



.evento li:last-of-type {
    margin-left: auto;
}

.arrow {
    cursor: pointer;
    
}

.eventInfo  {
    height: 0;
    transition: height ease-in .4s;
    padding:0;
    width: 100%;
    overflow: hidden;
    
}




.eventInfo.active {
    height: 70px;
}

.eventLink {
    margin-top: 30px    ;
}

.eventLink a {
    text-decoration: none;
    color: white;
    padding: 7px;
    border: 2px solid white;
    border-radius: 4px;
    transition: all .3s;
}

.eventLink a:hover {
    
    color: rgb(207, 64, 64);
  
    border: 2px solid rgb(207, 64, 64);
    
}



  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .burger {
        display: none;
    }
    .logo {
        margin: 70px;
    }
    .logo img {
        
        width: 250px;
    }

    nav {
        position: absolute;
        margin-top: 0px;
        z-index: 1;
        font-weight: bold;
        width: 100%;
        height: 70px;
        right: 0px;
        border-radius: 3px;
        
        flex-direction: row;
        justify-content: space-around;
        background-color: rgba(161, 161, 161, 0.74);
        transform: translateX(0%);
    }

    nav a {
        color: red;
    }

.linha-div{
    top: 250px;
    
}
        
        .socials {
            position: absolute;
            margin: auto;
            top: 280px;
            width: 30%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            right: 35%;
        
        }
    
  } 

 
h1 {
    position: absolute;
    color: white;
    font-size: 40px;
    left: 10%;
    top: 185px;
}



 
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .burger {
        display: none;
    }
    .logo {
        margin: 50px;
    }
    .logo img {
        
        width: 250px;
    }

    nav {
        position: absolute;
        margin-top: 0px;
        z-index: 1;
        font-weight: bold;
        width: unset;
        float: right;
        height: 70px;
        right: 0px;
        border-radius: 3px;
        padding: 5px;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgba(161, 161, 161, 0.74);
        transform: translateX(0%);
    }

    nav li {
        padding:3px;
        border-radius: 6px;
        transition: background-color .2s;
        overflow: visible;
    }
        nav li:hover {
            background-color: rgba(216, 47, 47, 0.24);
        }

 

        .socials {
            position: absolute;
            margin: auto;
            top: 280px;
            width: 30%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            right: 35%;
        
        }
   
  } 

  h1 {
    position: absolute;
    color: white;
    font-size: 40px;
    top: 310px;
    width: 100%;
    left: 0;
    
    text-align: center;
}

h2  {
    font-size: 20px;
    color: white;
}

.latestest-news .descNew {
color: white;
margin-top: 8px;
margin-bottom: 20px;
}

.dataCriacao {
    position: absolute;
    right: 10px;
    color: rgb(83, 78, 78);
}

.container {
    position: absolute;
    width: 100%;
    top: 40%;
}

  @media only screen and (min-width: 960px) {
nav {
    justify-content: space-around;
}

nav li {
    padding: 20px;
}
  }